In [3]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np

In [5]:
data_path = '../../../arquivos/car_prices.csv'
df = pd.read_csv(data_path).dropna()
df = df[df['year'] >= 2000]
df = df[['year', 'make', 'state','condition', 'color', 'mmr', 'sellingprice', 'odometer']]
marcas = df['make'].unique()

In [6]:
def calcular_estatisticas(df, variavel):
    bli = {"marca": [], "media": [], "dam": [], "std": [], "mediana": [], "moda": [], "amplitude": []}
    
    for marca in marcas:
        dados_marca = df[df['make'] == marca][variavel]
        
        media = dados_marca.mean()
        dam = abs(media - dados_marca).mean()
        std = dados_marca.std(ddof=1)
        mediana = dados_marca.median()
        moda = dados_marca.mode().iloc[0]
        amplitude = dados_marca.max() - dados_marca.min()
        
        bli["marca"].append(marca)
        bli["media"].append(round(media, 2))
        bli["dam"].append(round(dam, 2))
        bli["std"].append(round(std, 2))
        bli["mediana"].append(mediana)
        bli["moda"].append(moda)
        bli["amplitude"].append(amplitude)
    
    return pd.DataFrame(bli)

In [7]:
df_odometer_make = calcular_estatisticas(df, 'odometer')
df_condition_make = calcular_estatisticas(df, 'condition')
df_sellingprice_make = calcular_estatisticas(df, 'sellingprice')
df_mmr_make = calcular_estatisticas(df, 'mmr')

In [9]:
display(df_odometer_make)
display(df_condition_make)
display(df_sellingprice_make)
display(df_mmr_make)

            marca      media       dam       std   mediana     moda  amplitude
0             Kia   46107.51  30165.83  42287.40   35413.0      1.0   999998.0
1             BMW   62929.06  37975.44  47425.94   49871.0      1.0   999998.0
2           Volvo   83759.55  46714.42  57663.94   83453.0      1.0   999998.0
3          Nissan   55377.48  33004.71  45031.60   40579.0      1.0   999998.0
4       Chevrolet   76567.67  41913.57  53562.31   63254.0      1.0   999998.0
5            Audi   64715.47  35730.45  42917.39   57682.5      1.0   277573.0
6            Ford   59514.78  36481.41  47980.33   42712.0      1.0   999998.0
7        Cadillac   84021.05  37988.42  46901.86   82208.0      1.0   453040.0
8           Acura   90520.05  49343.20  58869.30   83618.0      1.0   495756.0
9           Lexus   64824.91  43250.90  52807.77   42572.5      1.0   439030.0
10        Hyundai   51333.26  30686.18  42623.17   38668.0      1.0   999998.0
11          Buick   77809.19  39622.43  51551.46   72557.5      1.0   999998.0
12       Infiniti   44250.88  25976.76  37611.87   31858.0  27655.0   349836.0
13           Jeep   68431.48  39102.65  47845.43   60057.5      1.0   999998.0
14  Mercedes-Benz   61903.90  36630.41  46970.63   48933.0      1.0   999998.0
15     Mitsubishi   74260.68  47152.60  56148.01   57387.5      1.0   522211.0
16          Mazda   63607.57  35660.93  47812.85   51706.0      1.0   999998.0
17           MINI   47672.43  28785.92  35514.64   36558.0  20318.0   237484.0
18     Land Rover   58402.75  29149.42  36861.28   51551.0  10297.0   218077.0
19        Lincoln   56929.92  38470.70  47885.92   36378.0      1.0   462758.0
20         Jaguar   68618.70  36224.08  43893.11   61547.0      1.0   265851.0
21     Volkswagen   66004.88  35415.81  43650.15   55801.5      1.0   321933.0
22         Toyota   68155.63  41744.36  53194.59   51352.0      1.0   999998.0
23         Subaru   54709.45  41122.94  50283.27   34848.0      1.0   324029.0
24          Scion   61477.31  38364.63  46032.68   48369.0  12113.0   260675.0
25        Porsche   50752.14  30473.97  37073.81   40843.5      1.0   194511.0
26          Dodge   72585.33  39363.13  50663.93   63655.0      1.0   999998.0
27           FIAT   25687.54  13505.70  16729.38   21633.0   8145.0    82106.0
28       Chrysler   67081.06  39164.25  48193.70   55181.0      1.0   999998.0
29        Ferrari   15639.59   6103.35   8562.78   12116.0   7529.0    32122.0
30          Honda   75051.84  47782.90  57799.48   52268.0      1.0   428471.0
31            GMC   84464.93  46344.69  57191.77   78803.0      1.0   429576.0
32            Ram   40453.59  25206.67  33432.32   29278.5  17449.0   436371.0
33          smart   29006.11  16129.89  21615.56   24226.0  35991.0   114994.0
34        Bentley   39994.34  20054.75  24058.86   35070.0   2968.0    93854.0
35        Pontiac  115177.47  31830.14  45168.57  112158.0      1.0   999998.0
36         Saturn  114881.82  31206.64  46110.03  111156.0      1.0   999998.0
37       Maserati   30433.29  17603.32  22102.94   28668.0  11640.0    95070.0
38        Mercury  110969.24  31888.01  41522.45  108853.0      1.0   395826.0
39         HUMMER  102184.12  26225.72  33920.90   98214.0  94119.0   237648.0
40           Saab  102892.30  29125.21  37898.81  100665.0      1.0   230623.0
41         Suzuki   89764.67  34123.72  43104.43   90815.0      1.0   337454.0
42     Oldsmobile  137930.59  34932.75  46567.73  140674.0      1.0   302895.0
43    Rolls-Royce   13448.38   3936.09   5361.13   12434.5   5215.0    18484.0
44          Isuzu  135457.01  32567.70  43019.03  132588.5      1.0   262093.0
45          Tesla   17307.91   8235.81  10968.28   15854.0    744.0    48452.0
46   Aston Martin   23966.83  10676.67  14332.33   23723.5   3835.0    60278.0
47         Fisker   18165.67  12548.22  19575.18   14740.0   1806.0    64044.0
48         Daewoo   70104.50    998.50   1412.09   70104.5  69106.0     1997.0
49       Plymouth   21619.88  12898.59  16649.43   16136.0      1.0    48446.0
50    Lamborghini   15785.33   4640.89   6062.78   18624.0   8824.0    11084.0
51          Lotus   16932.00      0.00       NaN   16932.0  16932.0        0.0

            marca  media    dam    std  mediana  moda  amplitude
0             Kia  33.59  10.76  13.45     37.0  44.0       48.0
1             BMW  33.53   9.73  12.35     36.0  44.0       48.0
2           Volvo  30.75   9.95  12.43     34.0  19.0       48.0
3          Nissan  32.02   9.70  12.17     35.0  19.0       48.0
4       Chevrolet  27.77  11.26  13.75     29.0  19.0       48.0
5            Audi  31.53   9.99  12.49     35.0  19.0       48.0
6            Ford  33.71  10.09  12.80     37.0  44.0       48.0
7        Cadillac  29.38  10.48  13.01     33.0  19.0       48.0
8           Acura  29.63   9.25  11.50     31.0  19.0       48.0
9           Lexus  33.08   8.93  11.46     36.0  43.0       48.0
10        Hyundai  32.09  10.59  13.24     36.0  19.0       48.0
11          Buick  28.11  11.50  13.97     31.0  19.0       48.0
12       Infiniti  35.39   8.56  11.28     38.0  44.0       48.0
13           Jeep  29.81  12.57  14.96     35.0   4.0       48.0
14  Mercedes-Benz  32.69   8.88  11.65     36.0  37.0       48.0
15     Mitsubishi  28.50  10.01  12.40     29.0  19.0       48.0
16          Mazda  30.39   9.79  12.24     33.0  19.0       48.0
17           MINI  34.77   8.87  12.01     38.0  42.0       48.0
18     Land Rover  34.60   9.86  13.08     38.0  42.0       48.0
19        Lincoln  33.56  10.21  12.85     37.0  44.0       48.0
20         Jaguar  29.61  10.15  12.67     32.0  19.0       48.0
21     Volkswagen  29.51   9.99  12.48     32.0  19.0       48.0
22         Toyota  31.28   9.57  11.98     35.0  19.0       48.0
23         Subaru  32.76  11.22  13.81     36.0   5.0       48.0
24          Scion  30.31   9.57  11.94     32.0  19.0       48.0
25        Porsche  35.29   9.06  12.08     38.0  44.0       48.0
26          Dodge  27.13  11.55  13.94     29.0  19.0       48.0
27           FIAT  24.30  16.90  17.88     32.0   4.0       48.0
28       Chrysler  25.48  12.87  15.02     28.0   4.0       48.0
29        Ferrari  36.88  10.51  14.38     42.0  48.0       47.0
30          Honda  29.91   9.42  11.70     32.0  19.0       48.0
31            GMC  31.21  10.59  13.10     35.0  19.0       48.0
32            Ram  32.45  11.50  14.30     37.0  44.0       48.0
33          smart  37.90   7.69  11.10     41.0  48.0       47.0
34        Bentley  34.59   8.26  11.47     38.0  35.0       47.0
35        Pontiac  23.77   8.84  11.43     25.0  19.0       48.0
36         Saturn  25.62   9.16  11.78     27.0  19.0       48.0
37       Maserati  32.17  10.23  13.20     35.0  27.0       47.0
38        Mercury  25.57   9.13  11.73     26.0  19.0       48.0
39         HUMMER  32.52   9.72  12.46     36.0  35.0       48.0
40           Saab  25.18   8.86  11.56     27.0  19.0       46.0
41         Suzuki  25.23   8.55  10.96     26.0  19.0       46.0
42     Oldsmobile  18.17   9.18  11.58     19.0  19.0       44.0
43    Rolls-Royce  37.00   8.50  13.30     42.0  42.0       43.0
44          Isuzu  20.23   9.01  11.61     21.0  19.0       47.0
45          Tesla  34.96  13.20  16.97     41.0  49.0       46.0
46   Aston Martin  37.29   4.76   6.09     36.0  36.0       23.0
47         Fisker  35.11   9.41  13.20     38.0  38.0       44.0
48         Daewoo  18.00  16.00  22.63     18.0   2.0       32.0
49       Plymouth  36.75   8.81  14.21     42.0  36.0       45.0
50    Lamborghini  43.67   2.22   2.89     42.0  42.0        5.0
51          Lotus  27.00   0.00    NaN     27.0  27.0        0.0

,marca,media,dam,std,mediana,moda,amplitude
0,Kia,11771.18,4173.41,5440.99,12000.0,13000.0,42550.0
1,BMW,21584.67,11495.47,14424.11,20500.0,28000.0,164775.0
2,Volvo,11339.88,8258.48,9398.17,8000.0,4000.0,34475.0
3,Nissan,11824.56,4063.65,5685.45,12000.0,12000.0,86300.0
4,Chevrolet,11962.05,6323.54,8767.98,10500.0,11000.0,84400.0
5,Audi,20170.10,11536.90,14967.24,18700.0,22000.0,119800.0
6,Ford,14961.23,6598.97,8405.38,13800.0,10000.0,229999.0
7,Cadillac,15141.05,9533.98,11925.72,13600.0,20000.0,82850.0
8,Acura,13465.12,7375.83,8758.89,13000.0,3400.0,46700.0
9,Lexus,20824.28,8489.13,10612.67,21200.0,21000.0,80450.0
10,Hyundai,11062.60,3822.65,5454.62,11400.0,11500.0,54900.0
11,Buick,11030.09,6535.66,8022.92,10900.0,13000.0,40900.0
12,Infiniti,20624.55,5329.21,7776.45,20750.0,20000.0,74750.0
13,Jeep,14885.34,7585.48,9225.33,13800.0,14000.0,60725.0
14,Mercedes-Benz,21715.79,10081.54,14296.69,21000.0,22000.0,172999.0
15,Mitsubishi,8122.74,4707.93,5848.79,7400.0,4000.0,32650.0
16,Mazda,10345.95,4649.07,5952.08,9800.0,10000.0,34775.0
17,MINI,12389.43,4569.44,5684.61,12500.0,13500.0,33650.0
18,Land Rover,33618.65,14483.39,20600.40,33000.0,38000.0,134725.0
19,Lincoln,17916.21,8158.52,9750.12,18800.0,23000.0,57200.0
20,Jaguar,19803.64,15396.69,18959.25,15500.0,1500.0,94975.0
21,Volkswagen,9468.47,4315.90,5425.46,9800.0,12000.0,41800.0
22,Toyota,12693.30,4990.93,6621.13,12500.0,14000.0,68750.0
23,Subaru,15779.12,6199.57,7443.28,17000.0,18000.0,37350.0
24,Scion,9736.21,3880.15,4705.53,9200.0,4500.0,23300.0
25,Porsche,39543.00,20942.15,24784.68,40500.0,58000.0,155750.0
26,Dodge,10998.65,5043.29,6432.07,10300.0,10000.0,51600.0
27,FIAT,9927.42,2056.84,2448.36,9800.0,8500.0,14000.0
28,Chrysler,10681.41,5717.53,6756.28,9900.0,9000.0,40900.0
29,Ferrari,128852.94,17650.52,23901.99,124000.0,124000.0,102000.0
30,Honda,11334.27,5068.08,6417.41,11300.0,12500.0,36750.0
31,GMC,16872.30,8058.42,10096.13,16500.0,13000.0,64750.0
32,Ram,25257.46,6780.29,8802.14,24300.0,25000.0,51000.0
33,smart,6301.60,1469.80,1809.62,6000.0,5500.0,9400.0
34,Bentley,72713.33,24128.95,30383.47,62000.0,54000.0,140300.0
35,Pontiac,3929.91,2087.52,2802.26,3500.0,3500.0,26400.0
36,Saturn,3598.29,2157.09,2636.39,2900.0,1000.0,14875.0
37,Maserati,43729.82,20097.61,22716.92,40250.0,58000.0,93800.0
38,Mercury,4307.25,2552.94,3158.69,3500.0,1500.0,18150.0
39,HUMMER,15404.61,4971.87,6510.39,13600.0,10000.0,46000.0
40,Saab,3777.15,2117.84,2765.09,3100.0,4000.0,17550.0
41,Suzuki,4027.60,2263.00,2809.29,3400.0,2000.0,14600.0
42,Oldsmobile,1082.61,572.31,766.12,900.0,500.0,4775.0
43,Rolls-Royce,153456.25,9282.81,10834.08,149400.0,147000.0,31500.0
44,Isuzu,2047.32,1206.31,1593.20,1750.0,2000.0,7675.0
45,Tesla,67054.35,7578.45,9675.99,66500.0,64500.0,36500.0
46,Aston Martin,55500.00,9458.33,14861.27,51000.0,51000.0,62000.0
47,Fisker,46461.11,3234.57,4891.43,46000.0,46000.0,17500.0
48,Daewoo,450.00,150.00,212.13,450.0,300.0,300.0
49,Plymouth,21587.50,4303.12,6305.60,24125.0,25000.0,19400.0
50,Lamborghini,111500.00,4000.00,5408.33,110000.0,107000.0,10500.0
51,Lotus,40800.00,0.00,NaN,40800.0,40800.0,0.0

,marca,media,dam,std,mediana,moda,amplitude
0,Kia,11907.98,4020.24,5300.73,12150.0,12750.0,41775.0
1,BMW,21703.95,11435.15,14315.28,20700.0,23000.0,175825.0
2,Volvo,11490.64,8286.21,9396.72,8025.0,22800.0,34050.0
3,Nissan,11936.48,3867.17,5506.71,12100.0,12050.0,85975.0
4,Chevrolet,12119.58,6203.19,8628.05,10600.0,10950.0,84975.0
5,Audi,20342.94,11495.52,14929.00,18850.0,22900.0,116600.0
6,Ford,15139.95,6502.56,8238.32,14100.0,12750.0,58750.0
7,Cadillac,15266.49,9433.81,11816.62,13500.0,22500.0,78950.0
8,Acura,13465.89,7316.63,8696.69,12900.0,18250.0,45600.0
9,Lexus,20915.11,8491.09,10634.82,21400.0,21900.0,79325.0
10,Hyundai,11255.67,3642.51,5308.09,11500.0,11200.0,52450.0
11,Buick,11209.92,6385.33,7849.96,11250.0,11950.0,41875.0
12,Infiniti,20711.26,5128.89,7608.10,21000.0,21700.0,68825.0
13,Jeep,15015.41,7495.27,9065.60,13800.0,22800.0,59250.0
14,Mercedes-Benz,22041.65,10160.93,14476.79,21400.0,21800.0,169950.0
15,Mitsubishi,8239.23,4596.00,5734.76,7762.5,9675.0,33200.0
16,Mazda,10451.25,4510.28,5832.69,9900.0,10100.0,30650.0
17,MINI,12460.13,4446.11,5530.27,12700.0,13400.0,30950.0
18,Land Rover,33966.33,14544.02,20767.77,33500.0,34200.0,135550.0
19,Lincoln,18100.15,8131.18,9650.55,19300.0,22200.0,47875.0
20,Jaguar,20217.85,15606.46,19169.89,16025.0,1825.0,91775.0
21,Volkswagen,9597.05,4216.65,5330.90,10050.0,11500.0,41925.0
22,Toyota,12802.28,4904.97,6507.75,12650.0,13600.0,62950.0
23,Subaru,15864.97,6057.86,7277.00,17250.0,22400.0,35250.0
24,Scion,9808.35,3745.82,4478.09,9325.0,12000.0,21350.0
25,Porsche,39763.95,21062.86,24723.81,41300.0,62000.0,143900.0
26,Dodge,11193.16,4900.11,6254.38,10500.0,11350.0,52350.0
27,FIAT,10092.41,1895.62,2140.42,9900.0,11300.0,12000.0
28,Chrysler,10921.37,5624.38,6623.83,10200.0,18550.0,38275.0
29,Ferrari,130823.53,17480.97,23521.89,132000.0,121000.0,102000.0
30,Honda,11385.12,4993.20,6345.23,11350.0,11000.0,35725.0
31,GMC,16942.92,7971.69,9994.79,16400.0,22200.0,63825.0
32,Ram,25495.88,6604.44,8555.66,24400.0,21700.0,52150.0
33,smart,6366.18,1454.46,1754.75,5875.0,5350.0,10450.0
34,Bentley,74077.14,25721.47,31570.41,61000.0,66000.0,119600.0
35,Pontiac,4129.12,1846.11,2527.12,3825.0,4125.0,29500.0
36,Saturn,3730.79,2024.97,2444.48,3125.0,1075.0,13675.0
37,Maserati,44708.72,20742.14,23438.95,40400.0,64000.0,88800.0
38,Mercury,4455.13,2293.17,2867.08,3925.0,1775.0,16150.0
39,HUMMER,15125.62,4620.33,5960.76,13150.0,11400.0,38350.0
40,Saab,3896.96,1927.16,2496.73,3275.0,1850.0,14925.0
41,Suzuki,4003.50,2121.61,2637.20,3475.0,1350.0,14925.0
42,Oldsmobile,1266.63,433.80,565.85,1200.0,1050.0,3175.0
43,Rolls-Royce,154812.50,8664.06,10527.54,152500.0,142000.0,37000.0
44,Isuzu,2087.14,1023.10,1309.39,1725.0,1550.0,6175.0
45,Tesla,67813.04,7673.35,9481.72,68000.0,72000.0,32400.0
46,Aston Martin,54075.00,8829.17,13107.59,51750.0,39300.0,52700.0
47,Fisker,49100.00,2422.22,3054.91,48200.0,45600.0,8200.0
48,Daewoo,487.50,12.50,17.68,487.5,475.0,25.0
49,Plymouth,24887.50,1940.62,2548.63,25400.0,20500.0,7600.0
50,Lamborghini,113666.67,4222.22,5507.57,111000.0,110000.0,10000.0
51,Lotus,40300.00,0.00,NaN,40300.0,40300.0,0.0

In [10]:
print("\n\nMMR")
display(df_mmr_make[df_mmr_make['dam'] == df_mmr_make['dam'].nsmallest(2).iloc[-1]])

print("\n\nSellingprice")
display(df_sellingprice_make[df_sellingprice_make['dam'] == df_sellingprice_make['dam'].nsmallest(2).iloc[-1]])

print("\n\nCondition")
display(df_condition_make[df_condition_make['dam'] == df_condition_make['dam'].nsmallest(2).iloc[-1]])

print("\n\nOdometer")
display(df_odometer_make[df_odometer_make['dam'] == df_odometer_make['dam'].nsmallest(2).iloc[-1]])

MMR

     marca  media   dam    std  mediana   moda  amplitude
48  Daewoo  487.5  12.5  17.68    487.5  475.0       25.0

Sellingprice

     marca  media    dam     std  mediana   moda  amplitude
48  Daewoo  450.0  150.0  212.13    450.0  300.0      300.0

Condition

          marca  media   dam   std  mediana  moda  amplitude
50  Lamborghini  43.67  2.22  2.89     42.0  42.0        5.0

Odometer

     marca    media    dam      std  mediana     moda  amplitude
48  Daewoo  70104.5  998.5  1412.09  70104.5  69106.0     1997.0